<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <form class="row center-align" action="/auth/login" method="post">
          <div class="input-field col s6 offset-s3">
            <h5 class="label">Username:</h5>
            <input type="text" name="username"/>
          </div>
          <div class="input-field col s6 offset-s3">
            <h5 class="label">Password:</h5>
            <input type="password" name="password"/>
          </div>
          <div class="col s12">
            <input class="waves-effect waves-light green lighten-1 btn-large" type="submit" value="Log In"/>
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
