<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container center-align row">
        <h4>Home Page</h4>
        <div class="divider"></div>
          <h5 class="col s12 m12 l12"><a class="waves-effect waves-light btn-large green lighten-1 white-text" href="/auth/register">register</a></h5>
          <h5 class="col s12 m12 l12"><a class="waves-effect waves-light btn-large green lighten-1 white-text" href="/auth/login">log in</a></h5>
          <h5 class="col s12 m12 l12"><a class="waves-effect waves-light btn-large red lighten-1 white-text" href="/auth/logout">logout</a></h5>
        <div class="divider"></div>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
