body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*header {
  background-color: teal;
  color: white;
}*/

header .container h1 {
  font-size: 36px;
}

main{
  flex: 1 0 auto;
}

.label {
  font-size: 20px;
  text-align: left;
}

/*footer {
  background-color: teal;
  color: white;
}
*/
/*a {
  color: #00B7FF;
}*/
